.layout-wrapper {
  display: flex;
  height: 100vh;
  position: relative;
}


.contenido {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}


.toggle-sidebar-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: #1A3D64;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 1.4rem;
  cursor: pointer;
  z-index: 5000;
  border: none;
}